.central {
  border: #979595 1px solid;
  background-color: white;
  height: 500px;
  width: 600px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.title {
  padding-top: 25px;
  font-size: 30px;
  color: var(--second-color);
  font-weight: 700;
}

.InputContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.InputContainer input {
  background-color: white;
  border: none;
  outline: none;
  color: black;
  width: 100%;
  padding-left: 10px;
}

.InputContainer label {
  font-size: 12px;
  color: var(--second-color);
  padding-bottom: 8px;
  font-weight: 500;
}

.labelInput {
  display: flex;
  justify-content: start;
}

.InputWrapper {
  display: flex;
  justify-content: space-around;
  background-color: white;
  border: var(--second-color) 1px solid;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0px 8px 0px 8px;
  flex-direction: row;
}

.btnViewPassword {
  outline: none;
  background-color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.helpForLogin {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.rememberMe {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  color: var(--second-color);
  padding-bottom: 8px;
  font-weight: 500;
}
.forgotPassword {
  font-size: 12px;
  color: var(--second-color);
  font-weight: 500;
  text-decoration: underline;
}
span{
  white-space: nowrap;
}

.btnSignIn{
  background-color: var(--second-color);
  color: white;
  border-radius: 10px;
  width: 80%;
  height: 50px;
}
